body {
    margin: 0;
    background-color: rgb(107, 7, 107);
    display: grid;
    
}
header {
    background-color: rgb(189, 43, 43);
    color: whitesmoke;
    text-transform: uppercase;
    font-size: larger;
    font-family: 'Gotu', sans-serif;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
}

#Title{
    display: flex;
    width: 60%;
    justify-content: flex-end;
}

.link-externo{
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.link-externo img {
    height: 75px;
    
    vertical-align: middle;
}

#Sobre {
    font-family: 'Montserrat Alternates', sans-serif;
    color: whitesmoke;
    width: 100%;
    height: 50%;
    display: flex;
}

#sobre-img {
    width: 15%;
    align-items: center;
}

#logo {
    padding-left: 10px;
    padding-top: 7.5%;
    border-radius: 50%;
}

#sobre-text {
    text-align: justify;
    font-size: large;
    width: 85%;
    margin-right: 10px;
    margin-top: 3%;
}