body {
    margin: 0;
    background-color: #1f1e1e;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #e5e5e5;
    display: grid;
    
}
header {
    background-color: #701f5f;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: large;
    font-family: 'DM Serif Text', serif;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
}

hr {
    color: #8E2D2D;
    background-color: #8E2D2D;
    border-color: #8E2D2D;
    height: 0.1vw;
    width: 95%;
    
}

.divisoria {
    color: #8E2D2D;
    background-color:#8E2D2D;
    border-color: #8E2D2D;
    height: 0.1vw;
    width: 90%;
}

#Title{
    width: auto;
    justify-content: flex-end;
}

.link-externo{
    width: 40%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-end;
}

.link-externo img {
    height: 7vw;
    
    vertical-align: middle;
}

#Sobre {
    padding-top: 1vw;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
}

#sobre-img {
    height: auto;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
}

#logo {
    margin-top: 0.5vw;
    margin-left: 0.5vw;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.2VW;
    border-color: #8E2D2D;
}

#sobre-text {
    text-align: justify;
    font-size: large;
    padding-left: 1vw;
    margin-right: 1vw;
    margin-top: 3%;
}

#Equipe{
    border-color: #8E2D2D;
    border-width: 4px;
    border-style: solid;
    border-radius: 2vw;
    margin-top: 1vw;
    margin-left: 0.75vw;
    margin-right: 0.75vw;
    margin-bottom: 1vw;
    text-align: center;
}


#Equipe h2 {
    text-transform: uppercase;
}

.Team {
    display: flex;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 1vw;
    justify-content: space-around;
    
}

.team-pic{
    width: 12vw;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.2VW;
    border-color: #8E2D2D;
}

footer{
    background-color: rgb(61, 61, 61);
    color: lightgray;
    display: flex;
    justify-content: space-around;
}

footer div {
    padding-bottom: 1vw;
}