body {
    margin: 0;
    background-color: rgb(107, 7, 107);
    font-family: 'Montserrat Alternates', sans-serif;
    color: whitesmoke;
    display: grid;
    
}
header {
    background-color: rgb(189, 43, 43);
    color: whitesmoke;
    text-transform: uppercase;
    font-size: large;
    font-family: 'Gotu', sans-serif;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
}

hr {
    color: whitesmoke;
    background-color: whitesmoke;
    border-color: whitesmoke;
    height: 0.1vw;
    width: 95%;
    
}

.divisoria {
    color: whitesmoke;
    background-color: whitesmoke;
    border-color: whitesmoke;
    height: 0.1vw;
    width: 90%;
}

#Title{
    width: auto;
    justify-content: flex-end;
}

.link-externo{
    width: 40%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-end;
}

.link-externo img {
    height: 10vw;
    
    vertical-align: middle;
}

#Sobre {
    padding-top: 1vw;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
}

#sobre-img {
    height: auto;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
}

#logo {
    padding-top: 7.5%;
    border-radius: 50%;
}

#sobre-text {
    text-align: justify;
    font-size: large;
    padding-left: 1vw;
    margin-right: 1vw;
    margin-top: 3%;
}

#Equipe{
    border-color: whitesmoke;
    border-width: 4px;
    border-style: solid;
    border-radius: 2vw;
    margin-top: 1vw;
    margin-left: 0.75vw;
    margin-right: 0.75vw;
    margin-bottom: 1vw;
    text-align: center;
}


#Equipe h2 {
    text-transform: uppercase;
}

.Team {
    display: flex;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 1vw;
    justify-content: space-around;
    
}

.team-pic{
    width: 12vw;
    border-radius: 50%;
}

footer{
    background-color: rgb(88, 87, 87);
    color: lightgray;
    display: flex;
    justify-content: space-around;
}

footer div {
    padding-bottom: 1vw;
}